

<div class="container justify-content-center">

  <h1>The Stupid Coach</h1>

  <form action="/answer" method="get" class="form-inline">
    <input type="text" class="form-control" name="question" placeholder="Ask a Question here">
    <input type="submit" value="Ask!">
  </form>

</div>
